.header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-top: 5%;
}
.header h1 {
  text-transform: uppercase;
  color: #1b2741;
  border-bottom: 2px dotted #bad7f2;
}

.card {
  transition: 0.3s;
  border-radius: 20px !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  padding: 15px;
  background-color: #f7f6f9 !important;
}
.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card a {
  text-decoration: none;
  color: #1b2741;
}
.card a:hover {
  color: #1b2741;
}
.card-body {
  padding: 10px 0 !important;
}
.card-body .btn {
  padding: 10px 12px;
  border-radius: 7px;
  border: none;
  background-color: #1b2741;
  color: #f7f6f9;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}
.card-body .btn:hover {
  transform: scale(1.1);
  background-color: #1b2741;
  color: #f7f6f9;
}

.card-image1 {
  background-image: url("/assets/koko.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
  box-shadow: none !important;
}
.card-image2 {
  background-image: url("/assets/koko.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
  box-shadow: none !important;
}
.card-image3 {
  background-image: url("/assets/sorban.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
  box-shadow: none !important;
}
.card-image1,
.card-image2,
.card-image3 h4 {
  text-align: center;
  color: #e1e3ef;
}
